/* font-family: 'Comfortaa', cursive;
font-family: 'Montserrat', sans-serif; */


.currentCompany {
  margin-top: 120px;
  font-family: 'Comfortaa', cursive;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -5px;
}

.currentCompany .company {
  display: flex;
  justify-content: center;
  align-items: center;
}

.currentCompany .company a {
  margin-right: 10px;
}

.currentCompany .company h1 {
  margin: 0;
}
