.sort {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort .sort-item {
  border: 1px solid rgb(48, 56, 65);
  padding: 5px 20px;
  border-radius: 3px ;
  margin: 0 5px;
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
  width: 200px;
  text-align: center;
  color: rgb(48, 56, 65);

}
