/* font-family: 'Comfortaa', cursive;
font-family: 'Montserrat', sans-serif; */

.sortWrapper {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.mainPageDiv {
  margin-top: 110px;
}

.wrapperHexagons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hexagon {
  width: 200px;
  height: 228px;
  margin: 10px;
  transform: rotate(120deg);
  overflow: hidden;
}

.hexagon:nth-child(2) {
  margin: -40px 110px 0 0;
  width: 270px;
  height: 310px;
}

.hexagon:nth-child(3) {
  margin: -60px 370px 0 0;
  width: 220px;
  height: 252px;
}

.hexagon:nth-child(4) {
  margin: -160px 30px 80px 0;
  width: 250px;
  height: 286px;
}

.layer1 {
  height: 100%;
  width: 100%;
  transform: rotate(-60deg);
  overflow: hidden;
}

.layer2 {
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
}

.hexagon img {
  width: 100%;
  height: 100%;
}

.mainPageText {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}
.mainPageText .mainPageTitle {
  font-size: 25px;
  width: 560px;
  font-family: 'Comfortaa', cursive;
  margin-bottom: 60px;
}

.mainPageText h1 {
  font-size: 45px;
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
  margin-bottom: 60px;
}

.mainPageText a {
  padding: 16px 50px;
  outline: none;
  border-radius: 5px;
  border: solid 1px rgb(48, 56, 65);
  margin-top: 60px;
  font-size: 20px;
  background: white; 
  color: rgb(48, 56, 65);
  cursor: pointer;
}

.mainPageText a:hover {
  background: rgb(48, 56, 65);
  color: white;
  transition: all .6s;
}

.mainPageText button a {
  font-family: 'Comfortaa', cursive;
  color: rgb(48, 56, 65);
}

.mainPageDiv .secondMainPage .secondTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: 'Comfortaa', cursive;
  color: rgb(48, 56, 65);
  background: url(https://images.unsplash.com/photo-1543196614-e046c7d3d82e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1198&q=80);
  height: 500px;
  width: 100%;
}

.mainPageDiv .secondMainPage .secondTitle p {
  color: white;
  font-weight: bold;
  margin-bottom: 130px;
}


